.navbar{
margin-top:0;
padding:0;
list-style-type: none;
justify-content: space-between;
}
.navbar li {
display: inline;
padding-left: 0px;
text-align:center;
}
.navbar{
	margin:0px;
	padding:0px;
	list-style-type:none;
	border: 12px solid #242121;
	text-align:center;
	background-color: #242121;
}
.navbar a{
	font-family:Franklin Gothic Heavy;
	color: #ffffff;
	padding:0;
	margin-left:50px;
	text-decoration:none;
	font-weight:bold;
	display: inline-block;
	justify-content:space-between;
}
.navbar a:hover{
	border-radius: 25px 25px;
	background-color: #242121;
}
h1{
padding-top:100px;}